@charset "UTF-8";
body > * {
  width: 1920px;
}

main * {
  letter-spacing: -2px;
}
main > * {
  height: 100vh;
}
main #visual {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
main #visual .visualContents {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  z-index: 900;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main #visual .visualContents h1 {
  width: 400px;
  animation: tada 2s both linear 0s;
}
main #visual .visualContents h1 img {
  width: 100%;
}
main #visual .visualContents h2 {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: -1px;
  animation: appear 1s both linear 2.2s;
}
main #visual video {
  width: 100%;
}
main #visual::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
main > p {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100vh;
}
main .goal {
  height: 100vh;
  position: relative;
  z-index: 30;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #fff;
}
main .goal .goalContents .move {
  position: relative;
}
main .goal .goalContents .move h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -5px;
  padding: 20px;
}
main .goal .goalContents .move h1:first-child {
  background: linear-gradient(#000, #000);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-background-clip: text; /* 클리핑마스크처럼 */
  -webkit-text-fill-color: transparent; /* 준비값 */
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0;
}
main .goal .goalContents .move h1:last-child {
  color: #fff;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
main .goal .goalContents p {
  opacity: 0;
}
main .goal .goalbg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../images/goal_bg.gif);
  background-position: 0 -200px;
  background-repeat: no-repeat;
  background-size: cover;
}
main .goalEvent .goalContents .move h1:nth-child(1) {
  opacity: 1;
  animation: bgup 2s linear 1 both;
}
main .goalEvent .goalContents .move h1 {
  animation: strokeNone 0.5s linear both 1.2s;
}
main .goalEvent .goalContents p {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -5px;
  margin-top: 30px;
  transform: translateY(-30px);
  animation: appear 1s linear both 2.3s;
}
main .goalEvent > p {
  animation: appear 3s linear both 0.5s;
}
main #keywords {
  height: -moz-max-content;
  height: max-content;
}
main #keywords .scroll_wrap .height {
  height: 700vh;
}
main #keywords .scroll_wrap .height .sticky {
  position: sticky;
  top: 0;
}
main #keywords .scroll_wrap .height .sticky > p {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/kalotok.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
}
main #keywords .scroll_wrap .height .sticky .scroll {
  display: flex;
}
main #keywords .scroll_wrap .height .sticky .scroll p {
  font-size: 7.5rem;
  font-weight: 900;
  letter-spacing: -5px;
  white-space: nowrap;
  margin: 100px;
  line-height: 80vh;
}
main #keywords .scroll_wrap .height .sticky .scroll p:first-child {
  margin-left: 100vw;
}
main .career {
  background-color: #000;
  color: #fff;
  padding: 70px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}
main .career > * {
  position: relative;
  z-index: 20;
}
main .career > div {
  display: flex;
}
main .career > div h2 {
  opacity: 0;
  font-size: 7.5rem;
  font-weight: 900;
  width: 50%;
}
main .career > div h2 span {
  width: 50%;
}
main .career > div p {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.6;
  opacity: 0;
}
main .career .minus {
  text-align: right;
}
main .career .minus span {
  display: inline-block;
  width: 130px;
  height: 35px;
  background-color: #fff;
}
main .career .careerContents {
  display: block;
  text-align: center;
}
main .career .plus {
  align-items: center;
}
main .career .plus h2:last-child {
  font-size: 15.625rem;
}
main .careerEvent .minus span {
  animation: changeBgBlack 1s linear both 2.8s;
}
main .careerEvent .minus h2:first-child {
  animation: transXdisappear 0.4s linear both 0.8s;
}
main .careerEvent .minus h2:last-child {
  animation: transXappear 0.5s linear both 0.4s;
}
main .careerEvent p:first-child {
  animation: appear 1s linear both 3s, changeBlack 0.1s linear both 2.8s;
}
main .careerEvent p:last-child {
  animation: appear 1s linear both 4.3s, changeBlack 0.1s linear both 2.8s;
}
main .careerEvent .plus h2:first-child {
  animation: ptransXdisappear 0.5s linear both 1.5s;
}
main .careerEvent .plus h2:last-child {
  animation: ptransXappear 0.7s linear both 1.6s, changeBlack 1s linear both 2.8s;
}
main .careerEvent::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  animation: scale 2s linear both 2.7s;
}
main .choice {
  overflow: hidden;
}
main .choice .choiceContents {
  height: 100%;
  background-image: url(../images/reson_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
main .choice .choiceContents h1 {
  font-size: 7.5rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  opacity: 0;
}
main .choice .choiceContents p {
  font-size: 2.5rem;
  font-weight: 700;
  transform: translateY(15px);
  opacity: 0;
}
main .choiceEvent .choiceContents {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
main .choiceEvent .choiceContents h1 {
  animation: tada 1s linear both;
}
main .choiceEvent .choiceContents p {
  animation: appear 1s linear both 1.2s;
}
main .reasonWrap {
  background-image: url(../images/reson_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat();
}
main .reasonWrap .reason {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  text-align: center;
}
main .reasonWrap .reason h1 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: -0.1em;
  padding-bottom: 30px;
}
main .reasonWrap .reason h1 span {
  font-size: 7.5rem;
  font-weight: 800;
  line-height: 1.2;
}
main .reasonWrap .reason p {
  font-size: 1.563rem;
}
main .reasonWrap li:nth-child(1) {
  background-image: url(../images/reason1.jpg);
}
main .reasonWrap li:nth-child(2) {
  background-image: url(../images/reason2.jpg);
}
main .reasonWrap li:nth-child(3) {
  background-image: url(../images/reason3.jpg);
}
main #shop {
  text-align: center;
  padding: 80px;
  background-image: url(../images/shop_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}
main #shop h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -6px;
}
main #shop a {
  background-color: #00BC71;
  color: #fff;
  width: 350px;
  height: 60px;
  border-radius: 50px;
  margin-top: 30px;
  font-size: 1.563rem;
  font-weight: 500;
  line-height: 60px;
}

@keyframes tada {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(40px);
  }
  50% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}
@keyframes bgup {
  0% {
    background-position-y: 120px;
  }
  100% {
    background-position-y: 0;
  }
}
@keyframes strokeNone {
  0% {
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes changeBlack {
  0% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}
@keyframes changeBgBlack {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes transXappear {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-85%);
  }
}
@keyframes transXdisappear {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-80%);
  }
}
@keyframes ptransXdisappear {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(70%);
  }
}
@keyframes ptransXappear {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(80%);
  }
}/*# sourceMappingURL=brand.css.map */