header {
  background-color: yellow;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
header h1 {
  width: 250px;
}
header h1 a img {
  width: 100%;
}
header nav {
  background-color: violet;
  width: 40%;
  text-transform: uppercase;
}
header nav > ul {
  display: flex;
}
header nav > ul > li {
  width: 25%;
  text-align: center;
}
header nav > ul > li > a {
  font-weight: 600;
  font-size: 1.25rem;
}
header nav > ul .shop .shop_category {
  display: none;
}
header .h_right {
  width: 250px;
  background-color: plum;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .h_right > a {
  background-color: palevioletred;
  width: 25px;
  height: 25px;
  background-image: url(../imges/header_ico.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: -63px -12px;
}

main .mainWrap {
  width: 95%;
  padding: 100px 0;
  overflow: hidden;
  margin: 0 auto;
}
main .mainWrap .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
main .mainWrap .title h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}
main .mainWrap .text {
  text-align: center;
}
main .mainWrap .text h2 {
  font-size: 1.25rem;
  letter-spacing: -0.05em;
  line-height: 1.5;
}
main #banner .bannerSwiper {
  background-color: lightblue;
}
main #banner .bannerSwiper .bannerWrap {
  width: 100%;
  height: 740px;
}
main #banner .bannerSwiper .bannerWrap .bannerSlide {
  width: 100%;
  height: 100%;
  background-color: deeppink;
}
main #banner .bannerSwiper .bannerWrap .bannerSlide a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #banner .bannerSwiper .bannerWrap .bannerSlide:nth-child(1) a {
  background-image: url(../imges/cleanzero.jpg);
}
main #banner .bannerSwiper .bannerWrap .bannerSlide:nth-child(2) a {
  background-image: url(../imges/tint.jpg);
}
main #banner .bannerSwiper .bannerWrap .bannerSlide:nth-child(3) a {
  background-image: url(../imges/mascara.jpg);
}
main .bestBg {
  background-color: #ffe1e1;
}
main .bestBg .best .swiper .swiper-wrapper {
  display: flex;
}
main .bestBg .best .swiper .swiper-wrapper .swiper-slide {
  width: 25%;
}
main .bestBg .best .swiper .swiper-wrapper .swiper-slide a > p {
  width: 100%;
  height: 500px;
  background-image: url(../imges/best1.png);
  background-position: center;
  background-size: cover;
}
main .bestBg .best .bestSwiper .bestWrap .bestSlide:nth-child(1) a > p {
  background-image: url(../imges/best1.png);
}
main .bestBg .best .bestSwiper .bestWrap .bestSlide:nth-child(2) a > p {
  background-image: url(../imges/best2.png);
}
main .bestBg .best .bestSwiper .bestWrap .bestSlide:nth-child(3) a > p {
  background-image: url(../imges/best3.png);
}
main .bestBg .best .bestSwiper .bestWrap .bestSlide:nth-child(4) a > p {
  background-image: url(../imges/best4.png);
}
main .bestBg .best .bestSwiper .bestWrap .bestSlide:nth-child(5) a > p {
  background-image: url(../imges/best5.png);
}
main .bestBg .best .bestSwiper .bestWrap .bestSlide:nth-child(6) a > p {
  background-image: url(../imges/best6.png);
}
main .collection .colContents {
  background-color: mediumpurple;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .collection .colContents .colBanner {
  background-color: yellow;
  width: 45%;
}
main .collection .colContents .colProduct {
  width: 55%;
  display: grid;
  grid-template-areas: "prd1 prd2" "prd3 prd4";
}
main .collection .colContents .colProduct li {
  background-color: pink;
  width: calc(100% - 30px);
  margin: 0 0 50px 30px;
}
main .collection .colContents .colProduct li a > p {
  width: 100%;
  height: 60vh;
  background-image: url(../imges/ripstick.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .collection .colContents .colProduct li a .text {
  padding: 10px;
}
main .collection .colContents .colProduct li:nth-child(1) {
  grid-area: prd1;
}
main .collection .colContents .colProduct li:nth-child(2) {
  grid-area: prd2;
}
main .collection .colContents .colProduct li:nth-child(3) {
  grid-area: prd3;
}
main .collection .colContents .colProduct li:nth-child(4) {
  grid-area: prd4;
}
main .collection .colContents .colProduct li:nth-child(3), main .collection .colContents .colProduct li:nth-child(4) {
  margin-bottom: 0;
}
main .instagram {
  background-color: palegoldenrod;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}
main .instagram .instagramContents {
  background-color: royalblue;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
main .instagram .instagramContents ul {
  background-color: rosybrown;
  display: flex;
  justify-content: space-between;
  height: 50%;
}
main .instagram .instagramContents ul li {
  background-color: yellow;
  width: 300px;
  height: 100%;
  overflow: hidden;
}
main .instagram .instagramContents ul li a img {
  height: 100%;
}
main .instagram .instagramContents .banilaco {
  margin-bottom: 20px;
}
footer {
  background-color: #f1f1f1;
  padding: 100px 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
footer dl dt {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.8;
  color: #555;
  font-size: 0.875rem;
}
footer dl dd {
  color: #888;
  line-height: 1.7;
  font-size: 0.875rem;
}
footer dl dd p {
  line-height: 1.7;
  font-size: 0.875rem;
}
footer dl dd a {
  color: #888;
  line-height: 1.7;
  font-size: 0.875rem;
}
footer a:hover {
  color: #000;
}
footer .company h1 {
  margin-bottom: 10px;
}
footer .company .companyInfo li {
  line-height: 1.7;
  color: #888;
  font-size: 0.875rem;
}
footer .company .companyInfo li a {
  padding: 1.2px;
  border: 1px solid #888;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 0.875rem;
  color: #888;
}
footer .company .companyInfo li a:hover {
  color: #000;
}
footer .company .companyInfo li span {
  font-weight: 600;
  color: #555;
}
footer .cs .cslink {
  margin-top: 15px;
}/*# sourceMappingURL=main.css.map */